---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/oembed/?format=json&url=https://www.flickr.com/photos/66038491@N06/26861401435/in/explore-2016-05-07/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Y-Trace:
      - BAEAQAAAAACohNTsiiS5yQAAAAAAAAAAM2z3Uq_gF90AAAAAAAAAAAAFMoA9ZHkoAAUygD1n1O3eEmEuAAAAAA--
    body:
      encoding: ASCII-8BIT
      string: |
        {"type":"photo","flickr_type":"photo","title":"T-21","author_name":"BeyondBrickz","author_url":"https:\/\/www.flickr.com\/photos\/66038491@N06\/","width":"1024","height":"629","url":"https:\/\/farm8.staticflickr.com\/7231\/26861401435_c1dbfe8703_b.jpg","web_page":"https:\/\/www.flickr.com\/photos\/66038491@N06\/26861401435\/","thumbnail_url":"https:\/\/farm8.staticflickr.com\/7231\/26861401435_c1dbfe8703_q.jpg","thumbnail_width":150,"thumbnail_height":150,"web_page_short_url":"https:\/\/flic.kr\/p\/GVDGNX","license":"All Rights Reserved","license_id":0,"html":"<a data-flickr-embed=\"true\" href=\"https:\/\/www.flickr.com\/photos\/66038491@N06\/26861401435\/\" title=\"T-21 by BeyondBrickz, on Flickr\"><img src=\"https:\/\/farm8.staticflickr.com\/7231\/26861401435_c1dbfe8703_b.jpg\" width=\"1024\" height=\"629\" alt=\"T-21\"><\/a><script async src=\"https:\/\/embedr.flickr.com\/assets\/client-code.js\" charset=\"utf-8\"><\/script>","version":"1.0","cache_age":3600,"provider_name":"Flickr","provider_url":"https:\/\/www.flickr.com\/"}
  recorded_at: Tue, 10 May 2016 17:27:30 GMT
recorded_with: VCR 3.0.1
