---
http_interactions:
- request:
    method: get
    uri: https://www.kickstarter.com/services/oembed?format=json&url=https://www.kickstarter.com/projects/531257408/professional-3-stage-knife-sharpener?ref=category_popular
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Heartbleed:
      - NO; see http://heartbleedheader.com
    body:
      encoding: ASCII-8BIT
      string: |
        {"version":"1.0","type":"rich","provider_name":"Kickstarter","provider_url":"https://www.kickstarter.com/","title":"Professional 3 Stage Knife Sharpener","author_name":"Kongqiang","author_url":"https://www.kickstarter.com/profile/531257408","thumbnail_url":"https://ksr-ugc.imgix.net/projects/2452435/photo-original.jpg?w=560&h=315&fit=fill&bg=FFFFFF&v=1461877181&auto=format&q=92&s=aae8e61c91e611fd27cc2db1c25a8916","thumbnail_width":560,"thumbnail_height":315.0,"width":480,"height":270.0,"html":"<iframe frameborder=\"0\" height=\"270.0\" scrolling=\"no\" src=\"https://www.kickstarter.com/projects/531257408/professional-3-stage-knife-sharpener/widget/video.html\" width=\"480\"></iframe>"}
  recorded_at: Tue, 10 May 2016 17:27:32 GMT
recorded_with: VCR 3.0.1
