---
http_interactions:
- request:
    method: get
    uri: https://embed.spotify.com/oembed/?format=json&url=http://open.spotify.com/track/298gs9ATwr2rD9tGYJKlQR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"provider_url":"https:\/\/www.spotify.com","version":"1.0","thumbnail_width":300,"height":380,"thumbnail_height":300,"title":"John
        De Sohn - Dance Our Tears Away - Radio Edit","width":300,"thumbnail_url":"https:\/\/d3rt1990lpmkn.cloudfront.net\/cover\/35ff8ecde854e7c713dc4ffad2f31441e7bc1207","provider_name":"Spotify","type":"rich","html":"<iframe
        src=\"https:\/\/embed.spotify.com\/?uri=spotify:track:298gs9ATwr2rD9tGYJKlQR\"
        width=\"300\" height=\"380\" frameborder=\"0\" allowtransparency=\"true\"><\/iframe>"}'
  recorded_at: Tue, 10 May 2016 17:27:40 GMT
recorded_with: VCR 3.0.1
