---
http_interactions:
- request:
    method: get
    uri: https://publish.twitter.com/oembed?format=json&url=https://twitter.com/Interior/status/507185938620219395
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 10 May 2016 17:27:40 GMT
      X-Connection-Hash:
      - a0e52c894a7cb519d0de0b80f683a258
      X-Response-Time:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https:\/\/twitter.com\/Interior\/status\/507185938620219395","author_name":"US
        Dept of Interior","author_url":"https:\/\/twitter.com\/Interior","html":"\u003Cblockquote
        class=\"twitter-tweet\"\u003E\u003Cp lang=\"en\" dir=\"ltr\"\u003EHappy 50th
        anniversary to the Wilderness Act! Here&#39;s a great wilderness photo from
        \u003Ca href=\"https:\/\/twitter.com\/YosemiteNPS\"\u003E@YosemiteNPS\u003C\/a\u003E.
        \u003Ca href=\"https:\/\/twitter.com\/hashtag\/Wilderness50?src=hash\"\u003E#Wilderness50\u003C\/a\u003E
        \u003Ca href=\"http:\/\/t.co\/HMhbyTg18X\"\u003Epic.twitter.com\/HMhbyTg18X\u003C\/a\u003E\u003C\/p\u003E&mdash;
        US Dept of Interior (@Interior) \u003Ca href=\"https:\/\/twitter.com\/Interior\/status\/507185938620219395\"\u003ESeptember
        3, 2014\u003C\/a\u003E\u003C\/blockquote\u003E\n\u003Cscript async src=\"\/\/platform.twitter.com\/widgets.js\"
        charset=\"utf-8\"\u003E\u003C\/script\u003E","width":550,"type":"rich","cache_age":"3153600000","provider_name":"Twitter","provider_url":"https:\/\/twitter.com","height":null,"version":"1.0"}'
  recorded_at: Tue, 10 May 2016 17:27:40 GMT
recorded_with: VCR 3.0.1
