---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/oembed?format=json&url=http://www.youtube.com/watch?v=EErY75MXYXI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: '{"provider_name": "YouTube", "width": 459, "thumbnail_url": "https:\/\/i.ytimg.com\/vi\/EErY75MXYXI\/hqdefault.jpg",
        "thumbnail_height": 360, "type": "video", "provider_url": "https:\/\/www.youtube.com\/",
        "height": 344, "thumbnail_width": 480, "author_url": "https:\/\/www.youtube.com\/user\/NyaAnimeParty",
        "version": "1.0", "html": "\u003ciframe width=\"459\" height=\"344\" src=\"https:\/\/www.youtube.com\/embed\/EErY75MXYXI?feature=oembed\"
        frameborder=\"0\" allowfullscreen\u003e\u003c\/iframe\u003e", "author_name":
        "NyaAnimeParty", "title": "Nyan Cat - 24 Hour Edition"}'
  recorded_at: Tue, 10 May 2016 17:27:41 GMT
recorded_with: VCR 3.0.1
