---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/oembed?format=json&url=http://www.youtube.com/watch?v=EErY75MXYXI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: '{"author_name": "NyaAnimeParty", "author_url": "https:\/\/www.youtube.com\/user\/NyaAnimeParty",
        "thumbnail_url": "https:\/\/i.ytimg.com\/vi\/EErY75MXYXI\/hqdefault.jpg",
        "provider_name": "YouTube", "title": "Nyan Cat - 24 Hour Edition", "type":
        "video", "version": "1.0", "height": 344, "thumbnail_height": 360, "width":
        459, "thumbnail_width": 480, "provider_url": "https:\/\/www.youtube.com\/",
        "html": "\u003ciframe width=\"459\" height=\"344\" src=\"https:\/\/www.youtube.com\/embed\/EErY75MXYXI?feature=oembed\"
        frameborder=\"0\" allowfullscreen\u003e\u003c\/iframe\u003e"}'
  recorded_at: Sun, 08 May 2016 09:52:44 GMT
recorded_with: VCR 3.0.1
